* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: grey;
    color: white;
}

header {
    height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    padding: 0 2rem;
}

nav {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    color: white;
    font-size: 28px;
}

.logo:hover {
    color: #E7002A;
    transition: 0.3s;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

body {
    overflow: hidden;
    background: black;
}

li {
    position: relative;
    list-style: none;
}

a {
    font-family: 'Lucida Sans';
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #E7002A;
    transition: 0.3s;
}


table {
    z-index: 5;
    position: absolute;
    background-color: grey;
    backdrop-filter: blur(7px);
}

a {
    font-family: 'Lucida Sans';
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
  
table {
    overflow: hidden;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 2px 2px 12px rgb(255, 255, 255);
}

th, td {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Lucida Sans';
    text-shadow: 1px 1px 10px #424242;
}

th {
    background-color: rgba(54, 54, 54, 0.5);
    text-transform: uppercase;
}

tr:nth-child(odd) {
    background-color: #2e2e2e;

}

a:hover {
    color: #E7002A;
    transition: 0.3s;
}


section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    background: #000;
}
  
section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #fff, #000);
    animation: animate 5s linear infinite;
}
  
section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 4;
    transition: 1.5s;
}
  
section span:hover {
    background: #0377c7;
    transition: 0s;
}
  
@keyframes animate {
    0% {
        transform: translateY(-100%)
    }
  
    100% {
        transform: translateY(100%)
    }
}
  


@media (max-width: 1050px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}
  
@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}
  
@media (max-width: 200px) {
    section span {
        width: calc(50vw - 2px);
        height: calc(50vw - 2px);
    }
}